<!-- footer section -->
<footer class="footer-section spad pb-0">
    <div class="footer-bottom">
        <div class="footer-warp">
            <ul class="footer-menu">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
            <div class="company-info">
                <h4>Samson</h4>
                <p>Contact: info@samson.com</p>
                <p>Address: Samson Inc., City, Country</p>
                <p>Phone: +XX-XXX-XXXXXXX</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->